<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">



		 <p> </p><p>
            		  
            
		</div>
		Contact: <br />
		4C216 Building 10. Laboratory of Brain and Cognition. <br />
 		  National Institute of Mental Health.
		  Bethesda, MD 20892. 
            	(<a href="https://www.google.com/maps/place/Building+10,+Bethesda,+MD+20814/@39.0027812,-77.1066484,17z/data=!3m1!5s0x89b7cbe23b2bb49b:0x2fb1a4c8a71b75f0!4m12!1m6!3m5!1s0x89b7cbe1e9238fe3:0x17bc591ffadb90d1!2sNational+Institutes+of+Health!8m2!3d39.0027771!4d-77.1044597!3m4!1s0x89b7cbe2252fd06d:0xcf1d2b20b2f1c8bd!8m2!3d39.002164!4d-77.1042884">Map</a>, <a href="mailto:kurt.braunlich@nih.gov">Email</a>)


	
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
